<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INLabTube</title>
    <link rel="stylesheet" href="/css/player.css"/>
    <link rel="icon" href="/files/favicon.ico"/>

    <script src="https://cdn.jsdelivr.net/npm/@alch/alchemy-web3@latest/dist/alchemyWeb3.js"></script>
    <script src="js/player/cdnhls.js"></script>
    <script src="js/player/test.min.js"></script>
    <script type="text/javascript" src="js/player/streaming.js"></script>
    <script type="text/javascript" src="js/player/video-player.js"></script>
    <script type="module" src="js/player/test-player.js"></script>
    <script>
      function mainButton() {
        window.location.href = '/';
      }
      async function connectWalletPressed() {
        if (window.ethereum) {
          try {
            const addressArray = await window.ethereum.request({
              method: "eth_requestAccounts",
            });
            if (addressArray.length > 0) {
              console.log("🦊 MetaMask connected!");
              document.getElementById('walletButton').src = "/metamask_connected.png";
            } else {
              console.log("🦊 Please connect to MetaMask using the top-right button.");
            }
          } catch (error) {
            console.log("😥 Something went wrong." + error);
          }
        }
      }
    </script>
    <script>
      function playVideo(txHash) {
          setTimeout(function() {
              window.location.href="/player"+"?="+txHash;

          }, 500);
      }
      function updateViews(dbID) { }
  </script>
  </head>
  <body>
    <div id="fullContainer">
      <div id="container">
        <video id="video" controls autoplay></video>
        <div class="row-lg-4">
          <div id="play_title"></div>
          <div style="margin: 1% 0% 2% 0%;">
            <div style="display: flex;">
              <img id="play_user" src="./files/user.png">
              <div style="transform: translate(0%, 20%)">
                <div id="play_views"></div>
                <div id="play_timestamp"></div>
                <div id="play_account"></div>
              </div>
            </div>
          </div>
          <div id="play_description"></div>
        </div>
      </div>
      <!-- Side widgets-->
      <div class="col-lg-4">
        <div class="card mb-4" id="sideWidgets">
          <div class="card-header">
            <div id="video-list"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
